.Button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
  border: solid 1px #fff;
  border-radius: 20px;
  line-height: 22px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-out;
  appearance: none;
}

.Button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.Button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
