.FilmCard {
  background-color: #20252b;
}

.FilmCard-information {
  position: relative;
}

.FilmCard-imageHolder {
}

.FilmCard-image {
  display: inline-block;
  width: 100%;
}

.FilmCard-title {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.FilmCard-link {
  text-decoration: none;
  color: #fff;
}

.FilmCard-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.FilmCard-separator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.FilmCard-buttonHolder {
}

.FilmCard-button {
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  appearance: none;
  outline: none;
  transition: background-color 0.2s ease-out;
}

.FilmCard-buttonIcon {
  display: inline-block;
  width: 32px;
}

.FilmCard-button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.FilmCard-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.FilmCard-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
