.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.Header-logoCol {
}

.Header-logo {
}

.Header-actionCol {
}

.Header-searchInput {
  display: inline-block;
  margin-right: 32px;
}

.Header-addMovieButton {
  display: inline-block;
}
